.container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.container > div {
    padding: 1.4em;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.info h3 {
    font-size: 22px;
    margin-bottom: .7em;
}

.form {
    display: flex;
    width: 100%;
}

.column {
    width: 50%;
}

@media screen and (max-width: 768px) {
    .info {
        padding: .8em;
    }

    .form {
        flex-direction: column;
        padding: .8em;
    }

    .column {
        width: 100%;
    }
}