.container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.container > div {
    padding: 1.4em;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.info h3 {
    font-size: 22px;
    margin-bottom: .7em;
}

@media screen and (max-width: 768px) {
    .info {
        padding: .8em;
    }
}