.container {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

.container div {
    flex: 1;
}


.info, .form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 4em;
    height: 100%;
    gap: 1.5em;
}

.info {
    background: rgb(92, 36, 252);
    background: linear-gradient(135deg, rgba(92, 36, 252, 1) 0%, rgba(157, 122, 255, 1) 100%);
    color: #fff;
    text-align: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.info h3, .form h3 {
    font-size: 32px;
    text-transform: capitalize;
}

.info p {
    width: 70%;
}

.info button, .form button {
    width: 140px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 14px 30px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: transparent;
}

.form {
    padding: 20px 0;
}

.form input {
    font-size: 14px;
    padding: 15px;
    width: 260px;
    font-weight: 300;
    border: none;
    background-color: #e4e4e494;
    letter-spacing: 1.5px;
    padding-left: 20px
}

.form h3 {
    color: rgb(92, 36, 252);
}

.form span {
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}

.form input:focus {
    outline: none;
}

.form button {
    background: rgb(92, 36, 252);
    background: linear-gradient(135deg, rgba(92, 36, 252, 1) 0%, rgba(157, 122, 255, 1) 100%);
}

.slideIn {
    animation: slideIn 0.5s forwards cubic-bezier(0.4, 0, 0.2, 1);
}

.slideOut {
    animation: slideOut 0.5s forwards cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes slideOut {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}