.main {
    min-height: 100vh;
}

.content {
    margin: 24px 16px;
    padding: 24px;
    min-height: 280px;
}

@media screen and (max-width: 576px) {
    #main {
        width: 100%;
    }

    #layout {
        width: calc(100% - 90px);
        margin: 0;
        padding: 0;
    }

    .content {
        margin: 24px 0px;
        padding: 14px 12px;
    }
}